
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/shared/UserMaster.cshtml";
}

<h2><b><i>Error</i></b></h2>
<head>
    <style>
        .login {
            width: 382px;
            overflow: hidden;
            margin: auto;
            margin: 20 0 0 450px;
            padding: 80px;
            background: lightblue;
            border-radius: 15px;
        }
    </style>
    </head>
    <script>
        $(function () {
            alert("SORRY THIS PAGE IS NOT AVIALABLE IN THIS WEBSITE")
        })
    </script>
    <div style="color:firebrick" class="login">SORRY THIS PAGE IS NOT AVIALABLE IN THIS WEBSITE</div>
