
@{
    ViewBag.Title = "search";
    Layout = "~/Views/shared/UserMaster.cshtml";
}

<h2>search</h2>

<body>
    @if(ViewBag.test!=null)
            {
    <div class="login"> @ViewBag.test</div>
            }  
</body>